* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.background {
    background: url(assets/background-all.png);
    height: 2650px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    box-sizing: border-box;
    overflow: hidden;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #555555;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover {
    color:#ff3c70;
    opacity: 65%;
}

.logo {
    width: 50px;
    cursor: pointer;
}

/* Home */
#home {
    display: flex;
    justify-content: space-between;
}

.home-text {
    display: inline-block;
    flex-basis: 40%;
    position: relative;
    margin-top: 100px;
}

.home-text h2 {
    font-size: 36px;
    font-weight: 500;
    color: #4d4d4d;
    letter-spacing: 1px;
}

.home-text h1 {
    font-size: 62px;
    font-weight: 600;
    color: #ff3c70;
    letter-spacing: 1px;
    line-height: 80px;
}

.home-text h3 {
    font-size: 24px;
    font-weight: 500;
    color: #6b6b6b;
    letter-spacing: 0.5px;
    padding-top: 10px;
}

.button-talk {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-width: 0;
    outline: none;
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #ff3c70;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.7);
}

.button-talk:hover{
    background-color: #ff608a;
    transform: scale(1.05);
}

.home-image {
    position: relative;
    display: inline-block;
    flex-basis: 50%;
    align-items: center;
}

.hero-image {
    width: 500px;
    margin-top: 30px;
    /* max-width: 100%;
    max-height: 100%; */
}

/* About */
#about {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.about-image {
    flex-basis: 40%;
    align-items: center;
}

.profile {
    margin-top: 50px;
    margin-left: -35px;
    width: 550px;
}

.about-text {
    flex-basis: 60%;
    margin-top: 150px;
    padding-right: 80px;
}

.about-text h2 {
    font-size: 56px;
    font-weight: 600;
    color: #ff3c70;
    letter-spacing: 1px;
}

.about-text h4 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #4d4d4d;
    letter-spacing: 0.3px;
    line-height: 25px;
}

/* Portfolio */
#portfolio h1 {
    padding-top: 50px;
    font-size: 56px;
    font-weight: 600;
    color: #ff3c70;
    letter-spacing: 1px;
}

.card-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.card1 {
    flex: 4;
    background-color: rgb(247, 247, 247);
    margin-right: 10px;
    border-radius: 30px;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.3);
}

.card1-text {
    padding: 20px 25px 60px 40px;
}

.card1-text h2 {
    text-align: left;
    font-weight: 650;
    font-size: 20px;
    color: #3a3a3a;
    letter-spacing: 0.5px;
}

.card1-text h3 {
    margin-top: 5px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #6b6b6b;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.card1:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.img1 {
    width: 100%;
    border-radius: 30px;
}

.card2{
    flex: 4;
    background-color: rgb(247, 247, 247);
    margin-right: 10px;
    border-radius: 30px;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.3);
}

.card2-text {
    padding: 20px 25px 60px 40px;
}

.card2-text h2 {
    margin-top: 5px;
    text-align: left;
    font-weight: 650;
    font-size: 20px;
    color: #3a3a3a;
    letter-spacing: 0.5px;
}

.card2-text h3 {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #6b6b6b;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.card2:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.img2 {
    width: 100%;
    border-radius: 30px;
}

.card3 {
    flex: 4;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.3);
}

.card3-text {
    padding: 20px 25px 60px 40px;
}

.card3-text h2 {
    margin-top: 5px;
    text-align: left;
    font-weight: 650;
    font-size: 20px;
    color: #3a3a3a;
    letter-spacing: 0.5px;
}

.card3-text h3 {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #6b6b6b;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.card3:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.img3 {
    width: 100%;
    border-radius: 30px;
}

#contact {
    padding: 260px 50px 250px 50px;
}
.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.contact-container h1 {
    font-size: 50px;
    font-weight: 650;
    color: #ff3c70;
    letter-spacing: 1px;
    line-height: 80px;
    text-align: center;
}

.button-contact {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-width: 0;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #ff3c70;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 8px 50px rgba(223, 125, 125, 0.7);
}

.button-contact:hover{
    background-color: #ff608a;
    transform: scale(1.05);
}

.footer-container {
    background-color: #ff3c70;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-container h4 {
    color: #f4f4f4;
    font-weight: 450;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-container h4 a {
    text-decoration: none;
    color: #ffc4d3;
}

.footer-container h4 a:hover {
    color: #fff;
}

.button-container {
    flex: 100%;
    padding-left: 47%;
    padding-bottom: 20px;
}

.button-sosmed {
    border-radius: 70px;
    border-width: 0px;
    outline: none;
    background-color: #580018;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 20px;
}

.button-sosmed .instagram {
    width: 20px;
}

.button-sosmed .linkedin {
    width: 20px;
}

.button-sosmed:hover {
    background-color: #70142d;
    transform: scale(1.05);
}

